/* Nav */
header#mainNav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: #f3f3f3;
    box-shadow: 0px 0px 18px rgba(2, 17, 37, 0.22);
    transition: 0.5s;
}
header#mainNav.bg-hide{
    background: transparent;
    box-shadow: none;
}
.logo{
    margin-bottom: 0;
}
.logo a{
    width: 100px;
    height: 75px;
}
.logo img{
    width: 100%;
    height: 100%;

    object-fit: contain;
}
.nav-top{
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
}
.main-menu{
    height: 100%;
    font-size: 1.05rem;
}
.main-menu, .social-link{
    display: flex;
    color: #4d4d4d;
    letter-spacing: 1px;
}
.main-menu li, .social-link li{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: 0.5s;
}
.item-wrap {
    display: block;
}
/*聯絡我們按鈕*/
.social-link a{
    padding: 4px 15px;
    background-color: #F47555;
    border: none;
}

.main-menu a{
    margin-top: 5px;
}
/* 預約banner */
.booking-banner{
    padding-top: 35px;
    min-height: 350px;
    background: #f3f3f3 url(../img/booking_bg.jpg) no-repeat center 65%/600px;
    color: #3a6ba5;
    text-align: center;
}
.booking-banner h2{
    letter-spacing: 2px;
    font-size: 1.6rem;
}
/* 浮動預約按鈕 */
.fixed-form-btn{
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 99;
}
.fixed-form-btn .btn{
    padding: 12px;
    width: 65px;
    height: 65px;
    border-width: 1px;
    border-color: #f99f00;
    border-radius: 50% 50% 5px 50%;
    background-color: #f99f00;
    color: #ffffff;
    line-height: 1.3;
    transition: 0.5s;
}
@keyframes wave-animate{
    0%{
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }
    100%{
        opacity: 0;
        transform: scale(1.6);
        transform-origin: center;
    }
}
/* 浮動聯繫按鈕 */
.contact-aside{
    position: fixed;
    right: 30px;
    bottom: 175px;
    z-index: 11;  
}
.contact{
    position: relative;
}
.contact .contact-circle{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(160, 160, 160, 0.3);
    transition: .5s;
    margin-top: 10px;
    /* opacity: 0.85; */
    cursor: pointer;
}
.contact .contact-circle a{
    display: block;
    width: 75%;
    height: 75%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.contact .contact-circle a img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* 浮動SDK按鈕 */
.sdk-aside, .sdk-hide{
    position: fixed;
    right: 30px;
    bottom: 115px;
    width: 50px;
    height: 50px;
    /* overflow: hidden; */
    border-radius: 50%;
}
.sdk-aside{
    background: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(160, 160, 160, 0.3);
    z-index: 10;
    pointer-events: none;
}
.sdk-aside .sdk-circle a{
    width: 75%;
    height: 75%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.fb_dialog{
    bottom: 120px!important;
    right: 35px!important;
    width: 40px!important;
    height: 40px!important;
}
.fb_customer_chat_bubble_pop_in{
    animation: none!important;
}
.fb-customerchat iframe{
    right: 80px!important;
}
/* Footer */
footer.boby-bottom{
    position: relative;
    background: #24150e;
    color: #ffffff;
}
footer.boby-bottom hr{
    border-color: #eeedeb;
}
footer.boby-bottom ul li{
     margin: 0 11px !important;
}
.footer-info img.logo{
    width: 150px;
}
.footer-info .address, .footer-info .tel{
    margin: 0;
    letter-spacing: 1px;
    font-size: 0.8rem;
}
.footer-social-link{
    margin-top: 15px;
}
.footer-social-link li{
    padding-right: 30px;
}
.footer-social-link li img{
    height: 25px;
}
.footer-menu{
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    letter-spacing: 1px;
    font-size: 0.9rem;
}
.footer-menu li{
    padding: 5px 0;
}
.footer-menu li.ttl{
    color: #0e376f;
    font-weight: 600;
    font-size: 1.05rem;
}
.footer-address{
    display: flex;
    font-size: 12px;
    justify-content: center;
    padding-top: 12px;
    margin-bottom: -10px;
    letter-spacing: 0.5px;
    line-height: 1.9;
    flex-wrap: wrap;
}
.footer-address a{
    text-decoration: underline;
    opacity: 0.6;
    font-weight: 300;
    margin: 0 3px;
    transition: .5s;
}
.footer-address a:hover{
    opacity: 1;
    text-decoration: none;
}
.footer-address p{
    margin: 0 10px;
}
.copy-right p{
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 12px;
}
.backTotop{
    position: absolute;
    top: -26px;
    right: 120px;
}
.backTotop a{
    padding: 5px 10px 5px 8px;
    border-radius: 8px 8px 0 0;
    background: #24150e;
    font-size: 12px;
}
.social-icon{
    align-items: center;
}
/* RWD
====================================================== */
/* 區間 (暫放 nav項目減少時可以拿掉) */
@media screen and (min-width: 992px) and (max-width: 1479px){
    .main-menu li, .social-link li{
        padding: 10px 10px;
    }
}
/* ------------------------------ */
@media screen and (min-width:1480px){
    .logo a{
        margin-right: 80px;
    }
}
@media screen and (min-width:1200px){
    .main-menu li:hover{
        background: rgba(0, 0, 0, 0.05);
        color: #4d4d4d;
    }
    .item-wrap {
        display: flex;
    }
/*    .social-link li:hover{
        color: rgba(255, 255, 255, 1);
    }
    .social-link li.line-2-0:hover{
        border: 1px solid #00b900;
        background: #00b900;
        color: #ffffff;
    }
    .social-link li.line-2-0:hover::before{
        background: url(../img/icon_line_bubble_w.svg)  no-repeat center center;
    }*/
    .footer-menu a{
        transition: 0.5s;
    }
    .footer-menu a:hover{
        color: #f99f00;
    }
    /* 浮動預約按鈕 */
    .fixed-form-btn:hover .btn{
        border-color: #ffffff;
        background: #ffffff;
        color: #f99f00;
    }
    .fixed-form-btn:hover::before{
        content: "";
        position: absolute;
        left: 0;
        z-index: -1;
        width: 65px;
        height: 65px;
        border-radius: 50% 50% 5px 50%;
        background-color: #f99f00;
        animation: wave-animate 0.7s infinite ease-out;
    }
    .contact .contact-circle:hover{
        box-shadow: 0 3px 15px rgba(0, 0, 0, .2);
    }
}

@media screen and (max-width:1199px){
    .main-menu li{
        padding: 10px 30px;
    }
    .social-link{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main-menu, .social-link{
        display: none;
    }
    .logo-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        order: 0;
        padding: 0 30px;
        width: 100%;
    }
    .social-link{
        order: 3;
    }
    .nav-top nav{
        order: 2;
    }
    .nav-top.open{
        flex-direction: column;
        background: #f3f3f3;
    }
    .nav-top.open .main-menu{
        display: block;
        color: #4d4d4d;
    }
    .nav-top.open .social-link{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .social-link li.line-2-0{
        padding: 5px 15px;
    }
    .social-link li{
        padding: 10px 20px;
    }
    /* ▼ 漢堡按鈕 ------------------------------------ */
    .btnMenu{
        z-index: 10;
        cursor: pointer;
        transition: 0.3s;
    }
    .btnMenu .menuLine{
        position: relative;
        width: 25px;
        height: 16px;
    }
    .btnMenu > .menuLine > span{
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #4d4d4d;
        transition: 0.3s;
    }
    .btnMenu > .menuLine > span:nth-of-type(2){
        top: 8px;
    }
    .btnMenu > .menuLine > span:nth-of-type(3){
        top: 16px;
    }
    /* ▼ 漢堡按鈕變XX ------------------------------------ */
    .btnMenu > .menuLine.active > span:nth-of-type(1){
        transform: translateY(8px) rotate(45deg);
    }
    .btnMenu > .menuLine.active > span:nth-of-type(2){
        opacity: 0;
    }
    .btnMenu > .menuLine.active > span:nth-of-type(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    #navBg{
        position: fixed;
        top: 0;
        z-index: 7;
        display: none;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        transition: 0.5s;
    }
    #navBg.open{
        display: block;
    }
    .sdk-aside{
        pointer-events: auto;
    }
    .fb-customerchat{
        display: none!important;
    }
}
@media screen and (max-width:767px){
    .backTotop{
        right: 80px;
    }
    /* 浮動預約按鈕 */
    .fixed-form-btn{
        right: 15px;
        bottom: 20px;
    }
    .fixed-form-btn .btn{
        padding: 9px 12px 12px 12px;
        width: 55px;
        height: 55px;
        font-size: 14px;
    }
    .fixed-form-btn::before{
        width: 55px;
        height: 55px;
    }
    .contact-aside{
        right: 15px;
        bottom: 140px;
    }
    .sdk-aside, .sdk-hide{
        bottom: 82px;
        right: 15px;
    }
    .fb_dialog {
        bottom: 87px!important;
        right: 20px!important;
        width: 40px!important;
        height: 40px!important;
    }
}
@media screen and (max-width:575px){
    .social-link li.line-2-0{
        width: 100%;
    }
    .social-link li:nth-of-type(2){
        margin-left: 20px;
    }
    .backTotop{
        right: auto;
        left: 25px;
    }
    .booking-banner{
        background: #eeedeb url(../img/booking_bg.jpg) no-repeat center 68%/450px;
    }
    .footer-menu{
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    .footer-menu > ul{
        margin-bottom: 20px;
        width: 50%;
    }
}